		
	/* Universal Styles */

body {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}


	/* Header */

header {
	top: 0;
	left: 0;
	height: 69px;
	border-bottom: 1px solid seashell;
	position: fixed;
	width: 100%;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: black;
}

header img {
	padding-left: 10px;
	height: 50px;
}

nav {
	padding-right: 10px;
}

nav span {
	display: inline-block;
	padding-left: 15px;
}

nav a {
	text-decoration: underline;
	color: seashell;
}


	/* Main Content */

.main {
	position: relative;
	top: 62px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}


	/* Mission Section */

#mission {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../images/mission.jpg");
	height: 700px;
	width: 1200px;
}

#mission h2,
#mission h4 {
	background-color: black;
	margin: 0;
	padding: 10px;
}


	/* Featured Section */

#featured {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 1000px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.title {
	width: 1000px;
}

.title h2 {
	margin-bottom: 0;
}

.title h4 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.tea h4 {
	margin: 0;
}

.tea {
	padding-bottom: 10px;
}

.tea img {
	height: 200px;
	width: 300px;
	padding: 10px;
}

	/* Location Section */

#locations {
	height: 500px;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	background-image: url("../images/locations.jpg");
}

#locations .title {
	width: 980px;
	padding-bottom: 15px;
}

#locations h2 {
	margin: 0;
}

.address {
	display: flex;
	flex-direction: column;
	width: 300px;
	background-color: black;
	opacity: 1;
	margin-left: 20px;
	margin-right: 20px;
}

.address h3 {
	margin-top: 22px;
	margin-bottom: 22px;
}

	/* Footer */

footer {
	position: relative;
	top: 62px;
}

.contact {
	height: 200px;
}

.contact h2 {
	margin-top: 0;
	padding-top: 20px;
}

footer p {
	text-align: left;
	padding: 20px;
	margin: 0;
}